/* Reset begin */
a,abbr,acronym,address,applet,article,aside,audio,big,body,canvas,caption,center,cite,dd,del,details,dfn,div,dl,dt,embed,fieldset,figcaption,figure,footer,form,h3,h4,h5,h6,header,hgroup,html,iframe,img,ins,kbd,label,legend,mark,menu,nav,object,output,q,ruby,s,samp,section,small,span,strike,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}
/* Reset end */

/* Non-styled-components styles begin */
blockquote,
q {
  quotes: none;
  margin: 10px 0 10px 10px;
  padding: 10px 10px;
  border-left: 2px solid #1fa1fd;
  background: rgba(128, 128, 128, 0.1);
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  padding: 0;
  background: #16161a;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}
body {
  margin: 0 auto;
}
pre.loading {
  padding: 0 15px;
  text-align: center;
}
a {
  color: unset;
  text-decoration: none;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}

/* Request loading bar */
#nprogress{pointer-events:none}#nprogress .bar{background:linear-gradient(90deg,#ff0018 0,#b53a3a 100%);position:relative;z-index:3;bottom:0;left:0;width:100%;height:2px}#nprogress .peg{display:block;position:absolute;right:0;width:100px;height:100%;opacity:1;-webkit-transform:rotate(3deg) translate(0,-4px);-ms-transform:rotate(3deg) translate(0,-4px);transform:rotate(3deg) translate(0,-4px)}