<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <base href="/" />
    <title>Knockout!</title>
    <meta name="description" content="A welcoming gaming and lifestyle community!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#16161a">      
    <meta name="twitter:dnt" content="on">


    <link rel="manifest" href="/static/manifest.json">


    <meta property="og:title" content="Knockout Forums" />
    <meta property="og:description" content="A welcoming gaming and lifestyle community!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://knockout.chat/" />
    <meta property="og:image" content="https://knockout.chat/static/logo.png" />


    <link rel="stylesheet" href="/static/basestyle.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i" rel="stylesheet"/>
    
    
<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700&display=swap" rel="stylesheet">


    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href=<%= icon %> type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
    <div id="app"></div>
    <noscript>
        <p style="text-align: center;">Sorry, this site requires Javascript, but if that isn't your thing you might want to try the <a href="http://lite.knockout.chat/">Lite</a> version?</p>
    </noscript>
  </body>
</html>
